# Data Science Notebook

## Introduction
This notebook explores various aspects of data science, including languages, libraries, and tools commonly used in the field.

## Data Science Languages
- Python
- R
- SQL

## Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Scikit-learn

## Data Science Tools

| Tool        | Description           |
|-------------|-----------------------|
| Jupyter     | Interactive notebooks |
| TensorFlow  | Machine learning      |
| Tableau     | Data visualization    |

## Arithmetic Expression Examples
Let's explore some basic arithmetic operations.

In [1]:
# Multiply and add numbers
a = 5
b = 3
result = (a * b) + (a + b)
print(result)

23

In [2]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
print(hours)

2.0

## Objectives
- Learn about data science languages and libraries
- Understand common data science tools
- Practice basic arithmetic operations in Python

## Author
- Karthickthasan S